In [1]:
# Importing the neccesary libraries and packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("..")
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
%matplotlib inline

In [2]:
# centroid file from previous outputs
engmt_centriod = pd.read_csv('../data/centero_engagment.csv')
engmt_centriod = engmt_centriod.iloc[:,1:]
engmt_centriod

   Total(DL/UL)  Dur. (ms)  sessions frequency
0     -0.906098  -0.321605           -0.221415
1      0.892940  -0.323010           -0.221309
2      0.010952   1.326584           -0.205536
3     -0.008896   5.438251           -0.018591
4      0.012256  -0.035857            2.854753

In [3]:
# Import standardized engagement metric values 
enga_metr = pd.read_csv('../data/std_engagement.csv')
enga_metr.index = enga_metr['MSISDN/Number']
enga_metr = enga_metr.iloc[:,1:4]
enga_metr.head()

               Total(DL/UL)  Dur. (ms)  sessions frequency
MSISDN/Number
3.360100e+10      -0.615285  20.575975           -0.489228
3.360100e+10       0.862904  15.109373           -0.489228
3.360100e+10      -0.770393  15.069531           -0.489228
3.360101e+10       1.607679  14.589653           -0.489228
3.360101e+10       0.456091  11.817893            0.749944

In [5]:
# calculating the distance between the metric values and the centroid of the the first k-means cluster
from sklearn.metrics.pairwise import euclidean_distances
engagement_score = euclidean_distances(enga_metr.values.tolist(),[engmt_centriod.values.tolist()[0]])
engagement_score

array([[20.90131947],
       [15.5343549 ],
       [15.39406448],
       ...,
       [ 1.51036334],
       [ 1.31956986],
       [ 1.40836443]])

In [6]:
engagement_score = [val[0] for val in engagement_score.tolist()]
engagement_score[:2]

[20.90131947119856, 15.534354898774462]

In [8]:
# Get centroid value from the previous files
exper_centr = pd.read_csv('../data/centroid_experience.csv')
exper_centr = exper_centr.iloc[:,1:]
exper_centr

   Average RTT  Average TCP  Average throughput
0     0.750096    -0.505828           -0.744210
1    -1.230811     0.827223           -0.151208
2     0.519698    -0.346565            1.408593

In [9]:
# standardized experience metric values
exper_metr = pd.read_csv('../data/std_experience.csv')
exper_metr.index = exper_metr['MSISDN/Number']
exper_metr = exper_metr.iloc[:106856,1:4]
exper_metr

               Average TCP  Average throughput  Average RTT
MSISDN/Number
3.366117e+10     -1.357519           15.220434     0.510533
3.369817e+10      0.711986           11.928930    -0.596697
3.367251e+10     -1.480467           11.918292    -0.714487
3.365169e+10     -1.396600           10.960414    -0.855836
3.366856e+10      0.692157           10.681835    -0.596697
...                    ...                 ...          ...
3.361648e+10      0.761222           -0.552987    -0.855836
3.362400e+10      0.761222           -0.552987    -1.303439
3.376193e+10      0.761222           -0.552987    -0.125535
3.369817e+10      0.761222           -0.552987    -1.067859
3.360672e+10      0.761222           -0.552987     1.251637

[106856 rows x 3 columns]

In [ ]:
# Calculating the distance between the metric values and the centroid of the the first k-means cluster
experience_score = euclidean_distances(exper_metr.values.tolist(),[exper_centr.values.tolist()[0]])
experience_score