In [1]:
# Importing the neccesary libraries and packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("..")
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
%matplotlib inline

In [2]:
# centroid file from previous outputs
engmt_centriod = pd.read_csv('../data/centero_engagment.csv')
engmt_centriod = engmt_centriod.iloc[:,1:]
engmt_centriod

   Total(DL/UL)  Dur. (ms)  sessions frequency
0     -0.906098  -0.321605           -0.221415
1      0.892940  -0.323010           -0.221309
2      0.010952   1.326584           -0.205536
3     -0.008896   5.438251           -0.018591
4      0.012256  -0.035857            2.854753

In [3]:
# Import standardized engagement metric values 
enga_metr = pd.read_csv('../data/std_engagement.csv')
enga_metr.index = enga_metr['MSISDN/Number']
enga_metr = enga_metr.iloc[:,1:4]
enga_metr.head()

               Total(DL/UL)  Dur. (ms)  sessions frequency
MSISDN/Number
3.360100e+10      -0.615285  20.575975           -0.489228
3.360100e+10       0.862904  15.109373           -0.489228
3.360100e+10      -0.770393  15.069531           -0.489228
3.360101e+10       1.607679  14.589653           -0.489228
3.360101e+10       0.456091  11.817893            0.749944

In [4]:
# calculating the distance between the metric values and the centroid of the the first k-means cluster
from sklearn.metrics.pairwise import euclidean_distances
engagement_score = euclidean_distances(enga_metr.values.tolist(),[engmt_centriod.values.tolist()[0]])
engagement_score

array([[20.90131947],
       [15.5343549 ],
       [15.39406448],
       ...,
       [ 1.51036334],
       [ 1.31956986],
       [ 1.40836443]])

In [5]:
engagement_score = [val[0] for val in engagement_score.tolist()]
engagement_score[:2]

[20.90131947119856, 15.534354898774462]

In [6]:
len(engagement_score)

106471

In [7]:
# Get centroid value from the previous files
exper_centr = pd.read_csv('../data/centroid_experience.csv')
exper_centr = exper_centr.iloc[:,1:]
exper_centr

   Average RTT  Average TCP  Average throughput
0     0.750096    -0.505828           -0.744210
1    -1.230811     0.827223           -0.151208
2     0.519698    -0.346565            1.408593

In [8]:
# standardized experience metric values
exper_metr = pd.read_csv('../data/std_experience.csv')
exper_metr.index = exper_metr['MSISDN/Number']
exper_metr = exper_metr.iloc[:106856,1:4]
exper_metr

               Average TCP  Average throughput  Average RTT
MSISDN/Number
3.366117e+10     -1.357519           15.220434     0.510533
3.369817e+10      0.711986           11.928930    -0.596697
3.367251e+10     -1.480467           11.918292    -0.714487
3.365169e+10     -1.396600           10.960414    -0.855836
3.366856e+10      0.692157           10.681835    -0.596697
...                    ...                 ...          ...
3.361648e+10      0.761222           -0.552987    -0.855836
3.362400e+10      0.761222           -0.552987    -1.303439
3.376193e+10      0.761222           -0.552987    -0.125535
3.369817e+10      0.761222           -0.552987    -1.067859
3.360672e+10      0.761222           -0.552987     1.251637

[106856 rows x 3 columns]

In [9]:
# Calculating the distance between the metric values and the centroid of the the first k-means cluster
experience_score = euclidean_distances(exper_metr.values.tolist(),[exper_centr.values.tolist()[0]])
experience_score

array([[15.91639793],
       [12.43569126],
       [12.62279924],
       ...,
       [ 0.62056924],
       [ 0.32725538],
       [ 1.99643487]])

In [10]:
experience_score = [val[0] for val in experience_score.tolist()]
experience_score

[15.916397929015316,
 12.435691264559209,
 12.622799236243425,
 11.665995828361238,
 11.188785843396658,
 11.273181104108888,
 11.151286495257741,
 11.194160349915656,
 11.052156104947297,
 10.779902538118696,
 10.693949466604243,
 10.67770385073105,
 10.341400261810811,
 10.238508653786294,
 10.139152288793984,
 10.212599873950147,
 10.071581819023075,
 10.108094078553766,
 10.069508324034153,
 9.845501142194722,
 9.442139633075776,
 9.559963508863092,
 9.32190879464544,
 9.489179414067776,
 9.426984408654109,
 9.199547251950554,
 9.317932047674264,
 9.05847862300344,
 9.234934204437767,
 9.161750567785212,
 8.970593473358806,
 9.090731630870259,
 9.054627597434363,
 9.030382848076083,
 9.039339060720051,
 8.898356603946628,
 8.768626684463355,
 8.934993902204171,
 8.962228639357654,
 8.876177496415567,
 8.885060014619759,
 8.71556738473542,
 8.729946676145225,
 8.854029570113319,
 8.766232527606787,
 8.790275858288638,
 8.788953861713994,
 8.719851009962523,
 8.769383079167518,
 8.72932055860583,
 8.731378679006983,
 8.569225653376808,
 8.678729160525974,
 8.663697885196987,
 8.673150430909699,
 8.63655983236221,
 8.616693640307435,
 8.533176922354194,
 8.28181754491299,
 8.56923442422993,
 8.270662192016252,
 8.3556744844324,
 8.412302410006143,
 8.456319461105762,
 8.202132655446688,
 8.35888998566101,
 8.21346797340086,
 8.328222553420247,
 8.331006108114845,
 8.37251165411304,
 8.254801125891804,
 8.316664814246524,
 8.12409890543828,
 8.037323921969831,
 8.318989470714046,
 8.305037939262666,
 8.243358443691589,
 8.169931122240914,
 8.287434238670427,
 8.232763900189084,
 8.184820928224871,
 8.013855617201228,
 8.173374901650563,
 7.97548044665868,
 7.861006451211387,
 8.126076845715815,
 8.157934781349853,
 7.890522635938705,
 7.960972468596443,
 8.073723994342322,
 8.057539222105756,
 8.018269321156454,
 8.02493753906573,
 7.9643252515828875,
 7.864181628057442,
 7.718479447987225,
 7.960925528667511,
 7.979467033099134,
 7.681049365286478,
 7.937992223978241,
 7.966320609029848,
 7.890346908485529,
 7.937867208508496,
 7.944351239859492,
 7.968707678116679,
 7.644640247819666,
 7.635946352210657,
 7.615896965110097,
 7.876008334357963,
 7.837549835764399,
 7.841755380339285,
 7.708656041946494,
 7.802407551192802,
 8.183367239066527,
 7.734984947562391,
 7.71048187168973,
 7.449579252442249,
 7.738964373711312,
 7.465798176828494,
 7.718540549394299,
 7.683042094023585,
 7.6370164012326125,
 7.704955542597561,
 7.663103117488547,
 7.689938387369299,
 7.655589386893004,
 7.444494707706718,
 7.63703162322176,
 7.616084999543992,
 7.526813087434453,
 7.2842470981256255,
 7.601283469110935,
 7.593567774166413,
 7.642351763086487,
 7.520323305703852,
 7.422736939100906,
 7.50867244811883,
 7.305161310369937,
 7.432519067696651,
 7.544658205930396,
 7.194326257642618,
 7.248613074478324,
 7.306023524846399,
 7.5193260346774835,
 7.216524354678995,
 7.482761248996466,
 7.175929945995813,
 7.318201751279913,
 7.437703274937855,
 7.486520865863289,
 7.490275322497277,
 7.43473369500965,
 7.307035321570469,
 7.401538858497794,
 7.2919230092908744,
 7.431935512519507,
 7.105041546840407,
 7.444702570144668,
 7.1117113363003455,
 7.413236625815489,
 7.361772052067194,
 7.3851065652040075,
 7.417021446394804,
 7.421913185097856,
 7.402071398325389,
 7.3458664175056,
 7.328610171344437,
 7.4106338836487895,
 7.302717884760944,
 7.0291635742977,
 7.0283397465449555,
 7.288400904044771,
 7.2900612611970335,
 7.202816633415511,
 7.041260318958941,
 7.0692458325423075,
 7.344717868430214,
 7.3212348525979065,
 7.044572606094928,
 6.97385633062861,
 7.152659915315213,
 7.2849035945459,
 7.29116400559873,
 7.278818381556976,
 7.3410193753849295,
 6.963409308684708,
 7.284880701727926,
 7.151286641732127,
 7.272233810265399,
 7.259238544330495,
 7.194939561486833,
 7.212662989105827,
 7.111031150726865,
 7.128189689236411,
 7.240834505919614,
 7.1576056061290485,
 7.230405828086497,
 7.20120729628256,
 7.165191206288075,
 7.1942378675581224,
 7.117639062305144,
 6.984530366958764,
 7.070265913722272,
 7.155572220415432,
 7.014131802330027,
 6.8875856868259175,
 7.082181979928134,
 6.962226877783042,
 6.910530425804023,
 6.792107729935246,
 7.090710502273572,
 7.118614698755875,
 7.115295215636673,
 7.04612153740895,
 6.869523737293074,
 7.06420876324927,
 7.116628809374079,
 7.047395708077592,
 6.842622760817139,
 7.05384757827901,
 6.994762534797471,
 7.349040646642217,
 6.827518745506862,
 6.875184322545896,
 6.96446306968967,
 7.050813594611885,
 7.049114788130124,
 7.045633907540319,
 6.973349465882866,
 7.020634138941987,
 6.95284727825405,
 6.998243715113776,
 7.043254688216251,
 7.023319674701879,
 6.978172167385147,
 6.743553946706772,
 6.673064756141231,
 6.979363871431891,
 6.976089457085103,
 6.954381031384029,
 7.10820151186427,
 6.7970066847769335,
 6.905073911994769,
 6.884384297964677,
 6.646308454300131,
 6.940701064666286,
 6.860682625740502,
 6.831883322114062,
 6.932919572083642,
 6.698294381381227,
 6.622496068006038,
 6.910286155858425,
 6.935142036303607,
 6.899583612601173,
 6.8277492787847,
 6.89874605740991,
 6.836024430302534,
 6.846055884793599,
 6.932919872331109,
 6.833420147076081,
 6.8761904214369345,
 6.794007860564609,
 6.8529544022126325,
 6.831763672748924,
 6.825320392715529,
 6.788815516256521,
 6.756893101439112,
 6.686816475443959,
 6.472792984212429,
 6.7320459138284106,
 6.821544323995346,
 6.819371652785629,
 6.802291793714552,
 6.496285514871741,
 6.751132882737158,
 6.813048882465801,
 6.776262253900503,
 6.745287741185458,
 6.7877143035880865,
 6.764086089280143,
 6.7823073183452385,
 6.745817792436016,
 6.654421937429624,
 6.437306234198135,
 6.410823389262194,
 6.71922731774475,
 6.7477582993358665,
 6.663182982504034,
 6.758801458149678,
 6.458780419991163,
 6.7332466857355096,
 6.488093120691425,
 6.572795085991715,
 6.903872933880406,
 6.715792521682006,
 6.657752466933409,
 6.367716096192271,
 6.332960152980511,
 6.656847890903304,
 6.6733496936028756,
 6.667668147348076,
 6.654373981012081,
 6.64852247099755,
 6.681794058007784,
 6.497702132744477,
 6.660111353610308,
 6.647462445345895,
 6.652964502846773,
 6.608223447070541,
 6.382205914035254,
 6.349335299429644,
 6.647641333690286,
 6.6132985941042515,
 6.26344225854183,
 6.614965627592863,
 6.569753500344482,
 6.248699252339416,
 6.5664363298395525,
 6.405645865880918,
 6.674908613669047,
 6.588234745558685,
 6.586104511654239,
 6.615253170915022,
 6.539716973884886,
 6.3712449313687545,
 6.57779752477711,
 6.251577153732475,
 6.652497736141582,
 6.538090420127578,
 6.5365088439403225,
 6.590375333090706,
 6.569906866670377,
 6.636746935395914,
 6.575933026290679,
 6.5008997632267915,
 6.565406530986663,
 6.589640206872596,
 6.560252202019623,
 6.596016065115926,
 6.4986861978232495,
 6.493943975402621,
 6.536916223074818,
 6.563194944436147,
 6.527265127242064,
 6.524524954425479,
 6.502888312564041,
 6.561749657591773,
 6.54553878676538,
 6.524479597940362,
 6.51229274560563,
 6.5082874172217755,
 6.4210408354627235,
 6.339343535526402,
 6.512254992381791,
 6.1230973446518115,
 6.364972265624196,
 6.503002616363905,
 6.491814727883755,
 6.108488671360389,
 6.475667559248977,
 6.493628813204365,
 6.412190762536585,
 6.437034122131276,
 6.4543450382966805,
 6.390477324675989,
 6.443200455135046,
 6.122981142456651,
 6.388825489459111,
 6.393791134788261,
 6.312382932703239,
 6.344124607930731,
 6.4030164782158385,
 6.5900143063550285,
 6.4395168226207495,
 6.028476082325355,
 6.4414516548293035,
 6.243549219630916,
 6.3892497566077635,
 6.412530794416447,
 6.017290284420208,
 6.434888490281046,
 6.274889820937202,
 6.703042235640684,
 6.385469356183357,
 6.396121466373882,
 6.393921927513732,
 6.323854974024448,
 6.117409567002695,
 5.9838555854783015,
 6.290165554601022,
 6.354136140298187,
 6.000998289504771,
 6.261379825280616,
 6.357028028716608,
 6.033191729604571,
 6.181773435752858,
 6.368197832834314,
 6.385844195391705,
 6.318288971952575,
 6.3636879376479225,
 6.266424957122787,
 6.254362193349327,
 6.325004365242888,
 6.059695765469074,
 6.307346356342359,
 6.136048344372025,
 6.334928084117363,
 6.259192156670032,
 6.130541525006884,
 6.298808144409262,
 6.091587857437533,
 6.10243643384325,
 6.3079700792949795,
 6.228688184519468,
 6.283557927470579,
 5.890810562980183,
 5.878890172746573,
 6.256202996810607,
 5.948148447851408,
 6.601500319112305,
 6.0717850616459845,
 6.203840837730882,
 6.112566629885895,
 6.252632465049153,
 5.9334286457003715,
 5.950544915381906,
 6.222149255320579,
 6.119132117178378,
 6.209450136404711,
 6.2451847258502635,
 6.11104344174384,
 6.170041103512877,
 5.832199388618853,
 6.241658418155643,
 6.093859088557203,
 5.816240377501572,
 5.850017793552381,
 6.209082414824621,
 6.091585671921775,
 6.246163747308965,
 6.168409816768572,
 6.046451498648357,
 6.158302560128772,
 5.870526878590438,
 5.9225005933630115,
 6.227162490891549,
 6.154932002333599,
 6.197486256423594,
 6.228043118432378,
 6.039042468055259,
 6.173797059068456,
 6.164360528112995,
 6.079747699366224,
 5.871527438872891,
 6.150313669075665,
 6.154686444058975,
 6.170779742637347,
 6.107140307540016,
 6.169397968352742,
 6.109056985384275,
 6.08721815958307,
 6.151051964457083,
 6.154101154083851,
 6.133900154356814,
 6.125913939962128,
 5.971905076579469,
 6.122524934627558,
 6.150056089470875,
 6.105765453543628,
 6.119175051052913,
 6.106354530753336,
 6.515808870822734,
 6.022150693056057,
 6.144808172092471,
 5.722009175471618,
 5.940365219720383,
 6.130264188770467,
 6.090928433451514,
 5.749137036048384,
 6.118574267563374,
 5.959772365789775,
 5.94705202296859,
 5.7720619939990625,
 6.115300024511898,
 5.808933365699936,
 6.043930088379183,
 5.9869108447024715,
 6.091115239984858,
 6.089407914677779,
 6.083409287496381,
 5.931820433605384,
 6.076017353817657,
 5.978457926814483,
 6.087709136684213,
 6.093831434337072,
 5.965322626274524,
 6.1437690622873955,
 6.134882773567322,
 6.0461018790402115,
 6.109980021298999,
 6.057950564796308,
 6.081334050302069,
 6.068791056761317,
 5.798426401717763,
 6.033685689113121,
 6.849805012857319,
 5.783193827666774,
 5.706224287479372,
 6.05172530818674,
 6.107240404059598,
 5.664151413637034,
 5.642581050397646,
 6.033324498019298,
 5.914069968446873,
 5.966868165032749,
 6.198678079767261,
 6.038433598091215,
 5.875565100468293,
 5.718218121688145,
 5.822976281634029,
 5.61084483780313,
 5.767275750668501,
 5.71149212725357,
 5.932335796211972,
 6.006294962837253,
 5.62261448413736,
 5.922689475555384,
 5.925422805720189,
 5.985493742190834,
 5.971697916196039,
 5.995207825537097,
 5.564536755782447,
 5.976869171140244,
 5.558264639392237,
 5.9395692870519685,
 5.942301842125773,
 5.866031290323061,
 5.639775214244512,
 5.977860051228706,
 5.9266663839991045,
 5.771389376391347,
 5.623339889885886,
 5.918521187935294,
 5.742664520510944,
 5.897070350907981,
 5.898948953200603,
 5.764516831354675,
 6.616472309546978,
 5.57849077398468,
 6.352737728743368,
 5.782529784195505,
 5.55729450876568,
 5.917289569062212,
 5.774446021057866,
 5.871732872987646,
 5.868414204583796,
 5.791623802847759,
 5.870589533404193,
 5.871143456299288,
 5.903581109433291,
 5.894731853797069,
 5.848535804846382,
 5.554251002315836,
 5.896904590729898,
 5.448310432608717,
 5.880283969810466,
 5.82306170787038,
 5.704384669751248,
 5.810322900569116,
 5.840887957761772,
 5.675662396279654,
 5.534780255591779,
 6.328295754953241,
 5.888015920187424,
 5.478551785208422,
 5.869702024548026,
 5.687386215519449,
 5.776662026330842,
 6.0580971797973815,
 5.737541689271554,
 5.837547638119737,
 5.799060334596881,
 5.855911964527012,
 5.723321638220508,
 5.562995923086053,
 5.814107827077263,
 5.676506916588525,
 5.859663674035129,
 5.8523820704930705,
 5.703461468350813,
 5.773970225333409,
 5.7991050737717815,
 5.736995710072449,
 5.835928444302123,
 5.72359546305165,
 5.836742764019511,
 5.82347516340171,
 5.734773102389256,
 5.992845102389646,
 6.83065923145516,
 5.803617545261282,
 5.817328730586747,
 5.458420073547558,
 5.824499134537885,
 5.80631733452964,
 5.7390819041508205,
 5.794800874454037,
 5.371303277091468,
 5.706462771572064,
 5.438330135246833,
 5.73727101002085,
 5.691271104380233,
 5.69265811572292,
 5.7628652434235175,
 5.758047639106854,
 5.337873937799944,
 5.831495426419215,
 5.336381069032201,
 5.729386848789364,
 5.439204504772806,
 6.0936817708397015,
 5.716256684861463,
 5.822447431151677,
 5.742153595074289,
 5.602167327193842,
 5.7941817200567325,
 5.312611094760921,
 5.730487735110511,
 5.760634468563411,
 5.708295719033701,
 5.577709682025172,
 5.644317018316157,
 5.75866350617049,
 5.751120069300802,
 6.267548514366589,
 5.321691417381757,
 5.7825464715722195,
 5.300819610312685,
 6.202439879311632,
 5.74931381615536,
 5.585123659095964,
 5.612912720944801,
 5.666630707142115,
 5.643818835197317,
 6.110956382694531,
 5.655325371429231,
 5.731462339656545,
 5.606874073366381,
 5.683229396737675,
 5.711525358907444,
 5.66383830058529,
 5.57759958319014,
 5.328341831387088,
 5.2633046556810035,
 5.69106494350573,
 5.6223698063127445,
 5.264114498812789,
 5.714286471510543,
 5.53515293416484,
 5.696767331874466,
 5.357110067419889,
 5.622988733956585,
 5.701393781167856,
 5.696593264973944,
 5.703747433155705,
 5.703322349422175,
 5.299890732333683,
 5.61967339454408,
 5.639934633496651,
 5.536657574675443,
 5.901265130278597,
 6.286779282900734,
 5.678014213093591,
 5.624415025382652,
 5.3518310084082925,
 5.606951758779282,
 5.647783503136152,
 5.677385411381101,
 5.674863495905592,
 5.316939752044491,
 5.342131234194002,
 5.657508589387147,
 5.6659028116562276,
 5.661477059622507,
 5.47902015631515,
 5.273070657546826,
 5.530589382994747,
 5.268836671224227,
 5.707581292175731,
 5.6773729154749875,
 5.566634068587346,
 5.4510854770461865,
 5.579239726206419,
 5.614709173404176,
 5.648608776901331,
 5.2961955848105156,
 5.6093320480864906,
 5.615600777335069,
 5.61563274028115,
 5.609313728693976,
 5.546231823627646,
 5.525046800878117,
 5.473724804154928,
 5.16925906324875,
 5.60625890075506,
 5.646759713669878,
 5.632024873462085,
 5.4203276753400464,
 5.337639773658459,
 5.521457712803073,
 5.543677638220106,
 5.325201091353059,
 5.5969680836213955,
 5.634390847449255,
 5.386688286804759,
 5.419005431932098,
 5.614644997329018,
 5.621499227328611,
 5.623797438671745,
 6.04044288226943,
 5.198273303823611,
 5.5686821805707085,
 5.159104082586356,
 5.598787298897247,
 5.179425974326819,
 5.814528809781252,
 5.3713426809054745,
 5.626836360492439,
 5.230547686841902,
 5.394636899252077,
 5.565367000557168,
 5.585650183204241,
 5.638977476335067,
 5.5717400741505765,
 5.590221578273635,
 5.581744880386689,
 5.525119254249466,
 5.589916282928638,
 5.707179477326498,
 5.552211388368132,
 5.6094590207826105,
 5.172279856610779,
 5.558464386011941,
 5.584208521970521,
 5.546570557772276,
 5.49395452413714,
 5.542050158523473,
 5.607780779219054,
 5.351663922399606,
 5.566506677428741,
 5.5403602434941215,
 5.547155505644516,
 5.183904858573106,
 5.10095778262164,
 5.090775021800187,
 5.527350293938643,
 5.202319783078558,
 5.518439440266486,
 5.561866385193637,
 5.55438602263872,
 5.140863988518992,
 5.377615427521866,
 5.504884608382622,
 5.489926218447779,
 5.152035643963813,
 5.538458246221827,
 5.539383303937719,
 5.128538856878506,
 5.490678341961583,
 5.52342579870492,
 5.525907232436186,
 5.530019296581875,
 5.043411835022794,
 5.579440840632645,
 5.913964859863803,
 5.514539906492525,
 5.441082256364814,
 5.516410352920906,
 5.404306277766923,
 5.099409881046122,
 5.475660102568469,
 5.388718180213742,
 5.156892284267109,
 5.444958366088368,
 5.6299504106262805,
 5.276106970952908,
 5.24060084699797,
 5.480925120270579,
 5.11917551128782,
 5.470936964336939,
 5.078662098482058,
 5.065059661221684,
 5.4846182940779045,
 5.493884185206292,
 5.238943611795697,
 5.011535045084664,
 5.457679566364956,
 5.087707974783419,
 5.490422630897694,
 5.1844335930098735,
 5.4822309180049364,
 5.404300668047608,
 5.477699072294866,
 5.451718037309081,
 5.45333857506569,
 5.3252642007752975,
 5.371752963643421,
 5.439614867721751,
 5.43103176754517,
 5.634767095097862,
 5.103093951825458,
 5.476177551347129,
 5.487639495778198,
 5.334720280314699,
 5.4498489204259295,
 5.29823877756986,
 5.324213768721035,
 5.366835417338191,
 5.620041965184398,
 5.035366419063611,
 5.255536499549304,
 5.65561223152441,
 5.447908748598305,
 5.445284491052297,
 5.446439881161123,
 5.416968241866839,
 5.057606289114635,
 5.447413032485142,
 5.442191679184057,
 5.448206251922571,
 5.39045147608694,
 5.441319409460128,
 5.435537705059475,
 5.214915777225508,
 5.01636526427924,
 5.42603162619451,
 5.321421181950699,
 5.174731868857579,
 5.356659644124464,
 5.089432857361711,
 5.083532974474882,
 5.40773265159925,
 5.23158113107892,
 5.31289844142104,
 4.93539528494134,
 5.282845712134859,
 5.418338542136674,
 4.954680914876849,
 6.00151613058227,
 5.236701320489827,
 5.364747544942149,
 5.376859079497146,
 5.362810736185938,
 4.993623220417286,
 5.168565030053461,
 5.400534980886601,
 5.330882967362781,
 4.9939714100570365,
 5.60217039471285,
 5.379654161599249,
 5.175244117192462,
 5.201562553988118,
 5.207447769433592,
 4.93896878652048,
 5.2500188779927885,
 5.318682608436703,
 5.317460545235199,
 5.812332033265139,
 5.266205956237987,
 5.390936108376548,
 5.3373444757041435,
 5.377362764310329,
 4.980759267874309,
 5.332882913077522,
 5.269105936060283,
 5.246492677650781,
 5.4360077766757655,
 4.897352196771058,
 5.131594472027641,
 5.374221463761673,
 5.29862860387055,
 5.310705267048381,
 5.289629078295583,
 4.886250809702863,
 5.120056061024984,
 5.063730267067778,
 6.5128195554178125,
 5.3242142168526305,
 4.94510671367666,
 4.877941762495872,
 4.926845688957392,
 5.351076338054477,
 5.198619927004175,
 5.2802973747486535,
 4.866737929201595,
 5.313231755244399,
 4.979318220215361,
 5.28759781003491,
 5.331942079567345,
 5.298299470824165,
 4.881901671398843,
 5.19532696491836,
 4.927859948053165,
 4.982013247979386,
 5.264808348651141,
 5.174076613903576,
 5.3237155819036515,
 5.28289649725446,
 5.33264191840867,
 5.331051644599099,
 5.286205668437705,
 5.2684155992573265,
 4.943409307991138,
 5.287351101265662,
 6.153719044649094,
 5.0200751575636655,
 5.296404002746598,
 4.83837764677059,
 5.282512726893204,
 4.818501575049889,
 5.054453273996923,
 4.986602992556789,
 5.30404303007626,
 4.861784808310315,
 5.273605567386166,
 5.292695371648818,
 5.303955228435431,
 5.201273604090381,
 5.302606092395958,
 5.307167084345417,
 5.074843550974922,
 5.225643305130752,
 5.273836064117617,
 5.213938430125698,
 5.29209729247472,
 5.0438014124920425,
 4.803352809783309,
 5.1395590663606825,
 5.2374503747746495,
 4.9715416099872165,
 5.237931609936703,
 5.202033291162732,
 5.154302412176484,
 5.285560204162481,
 5.235747828522585,
 5.2060758991237535,
 4.803418832159496,
 5.167196909115171,
 4.826861086509882,
 4.800110611397202,
 5.118871274344465,
 5.0698977584615434,
 5.278635883673193,
 5.248539361301313,
 5.0781225136087205,
 5.258512822899538,
 5.139789519895412,
 5.282065082998567,
 5.207132662731553,
 5.0788515508613825,
 4.859125067124613,
 5.2619224759688965,
 5.2651076407757955,
 5.263235410396633,
 5.064707513075848,
 5.26136649510465,
 4.845409675504685,
 5.120392522936493,
 5.236005907556785,
 5.258658957738493,
 5.1102569751132245,
 5.265886508345114,
 5.288403362957609,
 4.755500099929171,
 4.756975824780246,
 5.261660822035275,
 5.14129443433488,
 5.2490626411066605,
 5.224937110614679,
 4.8328475272053435,
 5.420963790459716,
 4.920151745512398,
 4.8016124426737345,
 4.797679657128573,
 5.2448801899727675,
 5.231237156950851,
 5.179879312512127,
 5.270143899949994,
 5.189413927324573,
 5.2425812420685585,
 4.88508313123749,
 4.996157266434956,
 5.25378314400009,
 5.239494010569647,
 5.2809842229272075,
 4.740534190149171,
 4.811969737938241,
 4.986673977735828,

In [11]:
K = 385
new_exp_score = experience_score[:len(experience_score)- K]

In [12]:
len(new_exp_score)

106471

In [13]:
#creating a dataframe to contain both engagement and experience score with index being 'MSISDN/Number' to identify the user
df = pd.DataFrame()

df['experience_score'] = new_exp_score
df['engagement_score'] = engagement_score
df.index = enga_metr.index
#result
df.head()

               experience_score  engagement_score
MSISDN/Number
3.360100e+10          15.916398         20.901319
3.360100e+10          12.435691         15.534355
3.360100e+10          12.622799         15.394064
3.360101e+10          11.665996         15.124035
3.360101e+10          11.188786         12.254245

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 106471 entries, 33601001722.0 to 882397108489451.0
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   experience_score  106471 non-null  float64
 1   engagement_score  106471 non-null  float64
dtypes: float64(2)
memory usage: 2.4 MB

In [15]:
# Creating a new column for the dataframe representing satisfaction calculated as an average of engagement and experience score
df['satisfaction_score'] = (df['engagement_score'] + df['experience_score'])/2
df.head(10)

               experience_score  engagement_score  satisfaction_score
MSISDN/Number
3.360100e+10          15.916398         20.901319           18.408859
3.360100e+10          12.435691         15.534355           13.985023
3.360100e+10          12.622799         15.394064           14.008432
3.360101e+10          11.665996         15.124035           13.395015
3.360101e+10          11.188786         12.254245           11.721515
3.360101e+10          11.273181         12.187403           11.730292
3.360101e+10          11.151286         11.557308           11.354297
3.360101e+10          11.194160         10.747511           10.970836
3.360101e+10          11.052156         10.740778           10.896467
3.360102e+10          10.779903          9.777693           10.278798

In [16]:
top10_satisfied_customers = df.sort_values(by='satisfaction_score', ascending=False).iloc[:10,:]
top10_satisfied_customers.to_csv('../data/top_10_satisfied_customers.csv')
top10_satisfied_customers

               experience_score  engagement_score  satisfaction_score
MSISDN/Number
3.360100e+10          15.916398         20.901319           18.408859
3.360100e+10          12.622799         15.394064           14.008432
3.360100e+10          12.435691         15.534355           13.985023
3.360101e+10          11.665996         15.124035           13.395015
3.360101e+10          11.273181         12.187403           11.730292
3.360101e+10          11.188786         12.254245           11.721515
3.362632e+10           2.498841         20.809707           11.654274
3.361489e+10           3.431673         19.603858           11.517765
3.360101e+10          11.151286         11.557308           11.354297
3.362578e+10           2.468354         19.656258           11.062306

In [20]:
x = exper_metr['Average TCP'].to_list()
new_x = x[:len(x)- K]
len(new_x)

106471

In [21]:
y = exper_metr['Average RTT'].to_list()
new_y = y[:len(y)-K]
len(new_y)

106471

In [22]:
z = exper_metr['Average throughput'].to_list()
new_z = z[:len(z) - K]
len(new_z)

106471

In [23]:
# Form a new Model training Dataframe consisting all of the columns
train_df = enga_metr.copy(deep=True)
train_df['Average TCP'] = new_x
train_df['Average RTT'] = new_y
train_df['Average throughput'] = new_z
# Adding our average satisfaction score (this is going to be our predicted value)
train_df['satisfaction_score'] = df['satisfaction_score'].to_list()
train_df.head()

,Total(DL/UL),Dur. (ms),sessions frequency,Average TCP,Average RTT,Average throughput,satisfaction_score
MSISDN/Number,,,,,,,
3.360100e+10,-0.615285,20.575975,-0.489228,-1.357519,0.510533,15.220434,18.408859
3.360100e+10,0.862904,15.109373,-0.489228,0.711986,-0.596697,11.928930,13.985023
3.360100e+10,-0.770393,15.069531,-0.489228,-1.480467,-0.714487,11.918292,14.008432
3.360101e+10,1.607679,14.589653,-0.489228,-1.396600,-0.855836,10.960414,13.395015
3.360101e+10,0.456091,11.817893,0.749944,0.692157,-0.596697,10.681835,11.721515

In [24]:
# Dividing the train data into actual train data (train + validation) and test data
# 80 (60 + 20) and 20
train_data = train_df.iloc[:int(len(train_df) * 0.8),:]
test_data = train_df.iloc[int(len(train_df) * 0.8):,:]

In [25]:
train_x = train_data.iloc[:,:-1]
train_y = train_data.iloc[:,-1:]
# 
test_x = test_data.iloc[:,:-1]
test_y = test_data.iloc[:,-1:]

In [26]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(train_x,train_y,test_size=0.2,random_state=40)

In [27]:
# Training the Ridge Regression Model on the splited training data
# Implementing Ridge Regression Model

alpha_val = 0.8
rr = Ridge(alpha=alpha_val)
rr.fit(xtrain, ytrain)
# Validation value of the model
validation_score = rr.score(xtest, ytest)
print("The model score is: {:.5f}".format(validation_score))

NameError: name 'Ridge' is not defined