In [1]:
# Importing the neccesary libraries and packages

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("..")

from sklearn.cluster import KMeans

In [2]:
engagement_df = pd.read_csv('../data/user_overview_clean_df.csv')
engagement_df.head()

,MSISDN/Number,num_xdr sessions,Start ms,End ms,Start,End,Dur. (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,...,Gaming(UL/DL),Netflix(UL/DL),Youtube(UL/DL),Email(UL/DL),Google(UL/DL),Social Media(UL/DL),Total(DL/UL),Avg Delay (ms),Activity_Duration(ms),Avg Throughput (kbps)
0,3.360100e+10,1,770.0,662.0,2019-04-04 12:01:00,2019-04-25 14:35:00,1823652.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,...,292.426453,17.855187,18.355943,3.701304,2.905912,1.570185,345.629377,47.0,76411.0,67.0
1,3.360100e+10,1,235.0,606.0,2019-04-09 13:04:00,2019-04-25 08:15:00,1365104.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),...,609.920783,35.565545,39.359124,0.937385,4.414096,1.933278,707.185356,70.0,3728.0,42.0
2,3.360100e+10,1,1.0,652.0,2019-04-09 17:42:00,2019-04-25 11:58:00,1361762.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),...,229.980251,23.751202,34.425237,3.363124,10.229119,1.726277,307.690973,70.0,0.0,15.0
3,3.360101e+10,1,486.0,171.0,2019-04-10 00:31:00,2019-04-25 07:36:00,1321509.0,1.321510e+09,undefined,undefined,...,810.387875,15.092588,36.534765,2.070983,11.811761,0.657493,889.352748,70.0,41212.0,88.0
4,3.360101e+10,2,565.0,954.0,2019-04-12 20:10:00,2019-04-25 10:40:00,1089009.0,1.089009e+09,Samsung,Samsung Sm-G390F,...,531.237049,17.539799,34.222253,2.110349,7.748843,0.912788,607.681403,70.0,0.0,15.0

In [3]:
engagement_df.isna().sum()

MSISDN/Number            0
num_xdr sessions         0
Start ms                 0
End ms                   0
Start                    0
End                      0
Dur. (ms)                0
Dur. (ms).1              0
Handset Manufacturer     0
Handset Type             0
Last Location Name       0
IMSI                     0
IMEI                     0
Total DL (Bytes)         0
Total UL (Bytes          0
Other(UL/DL)             0
Gaming(UL/DL)            0
Netflix(UL/DL)           0
Youtube(UL/DL)           0
Email(UL/DL)             0
Google(UL/DL)            0
Social Media(UL/DL)      0
Total(DL/UL)             0
Avg Delay (ms)           0
Activity_Duration(ms)    0
Avg Throughput (kbps)    0
dtype: int64

In [5]:
engagement_df['sessions frequency'] = engagement_df.groupby('MSISDN/Number')['num_xdr sessions'].transform('sum')

In [6]:
engagement_df['sessions frequency'].head()

0    1
1    1
2    1
3    1
4    2
Name: sessions frequency, dtype: int64

In [8]:
new_df = engagement_df[['MSISDN/Number', 'Total(DL/UL)', 'Dur. (ms)', 'sessions frequency']]

In [9]:
new_df.head()

   MSISDN/Number  Total(DL/UL)  Dur. (ms)  sessions frequency
0   3.360100e+10    345.629377  1823652.0                   1
1   3.360100e+10    707.185356  1365104.0                   1
2   3.360100e+10    307.690973  1361762.0                   1
3   3.360101e+10    889.352748  1321509.0                   1
4   3.360101e+10    607.681403  1089009.0                   2

In [11]:
# The top 10 customers per duration session
new_df = new_df[['MSISDN/Number', 'Total(DL/UL)', 'Dur. (ms)', 'sessions frequency']]
top_dur = new_df[['MSISDN/Number', 'Dur. (ms)']].head(10)

In [12]:
top_dur

   MSISDN/Number  Dur. (ms)
0   3.360100e+10  1823652.0
1   3.360100e+10  1365104.0
2   3.360100e+10  1361762.0
3   3.360101e+10  1321509.0
4   3.360101e+10  1089009.0
5   3.360101e+10  1074638.0
6   3.360101e+10  1035261.0
7   3.360101e+10   951292.0
8   3.360101e+10   941634.0
9   3.360102e+10   864482.0

In [13]:
top_dur.to_csv('../data/top_ten_session_duration.csv')